body {
  margin: 0;
}

.garden-bed-3d-model {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.preset-button {
  background: #ccc;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;

  &:hover {
    background: white;
  }

  &:active {
    transform: translate(1px, 1px);
  }
}

.gear {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  overflow-x: scroll;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);

  @media screen and (max-width: 768px) {
    justify-content: left;
  }

  .setting-title {
    color: #f4f4f4;
    font-family: Inknut Antiqua;
    text-shadow: 0 0 10px black;
    line-height: 170%;
  }

  .row {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 5px;
    border-radius: 25px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(5px);
    gap: 5px;
  }

  button {
    padding: 0 1rem;
    border-radius: 25px;
    pointer-events: all;
    font-family: 'Cabin';
    font-weight: bold;
    border: none;
    background: none;

    &.genesis.active,
    &.standard.active,
    &.mobile.active {
      background: rgba(255, 255, 255, 0.6);
    }

    &.genesis-xl.active {
      background: linear-gradient(315deg, #22a36d, #4ea3ed);
      color: #f4f4f4;
    }

    &.winter.active {
      background: linear-gradient(-15deg, #3e8dc2, #152e40);
      color: #f4f4f4;
    }

    &.spring.active {
      background: linear-gradient(15deg, #65f37d, #055b08);
      color: #f4f4f4;
    }

    &.summer.active {
      background: linear-gradient(-15deg, #d87f09, #f5e40a);
    }

    &.fall.active {
      background: linear-gradient(15deg, #502402, #c69075);
      color: #f4f4f4
    }

    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.all-configs {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 22rem;
  background: #434343;
  text-align: left;
  padding: 1rem;
  font-family: Cabin, Arial;
  border-radius: 5px;
  max-height: 30rem;
  overflow-y: scroll;

  .spacer {
    margin-top: 1rem;
  }

  details {
    color: #f4f4f4;

    label {
      font-weight: bold;
    }
  }

  summary {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem;

    &:hover {
      background: #333;
    }
  }

  .config-row {
    display: grid;
    grid-template-columns: min-content minmax(30%, 200px) auto;
    margin-bottom: 0.25rem;

    span {
      width: 8rem;
      padding-left: 1rem;
      color: #ccc;
    }

    input[type="checkbox"] {
      width: 1.1rem;
      height: 1.1rem;
      justify-self: left;
      cursor: pointer;
    }

    input[type="number"] {
      width: 100%;
      max-width: 4rem;
    }

    input[type="radio"] {
      width: 1.1rem;
      height: 1.1rem;
      cursor: pointer;
    }

    .options {
      width: 100%;
      justify-content: space-between;
    }

    input[type="range"] {
      width: 8rem;
      margin-left: -2rem;
      cursor: pointer;
    }
  }
}
